.totalTimeCountContainer {
    width: 100%;
    border: 1px solid rgba(96, 71, 236, 0.4);
    font-size: 24px;
    color: #6047EC;
    height: 60px;
    line-height: 55px;
    text-align: center;
    background-color: #EFEDFD;
    border-radius: 5px;
}

.bookMarkBlogContainer {
    margin-top: 25px;
    border: 1px solid gray;
    background-color: #EFEDFD;
    padding: 30px;
}

.bookMarkText {
    font-size: 20px;
    font-weight: 400;
}